header {
	padding: 50px;
  	text-align: center;
 	background: url(http://68.media.tumblr.com/tumblr_m90waaPRoO1rc95too5_400.gif);
  	height:190px;
  	border: 2px solid #B497A1;
}

header h1{
 	font-size:26px;
 	font-family: 'Press Start 2P', cursive;
 	color: #EACCCA;
	text-shadow:
    	-1px -1px 0 #93707D,
    	1px -1px 0 #93707D,
    	-1px 1px 0 #93707D,
    	1px 1px 0 #93707D; 

}

header h2{
  	font-size:48px;
  	font-family: 'Monoton', cursive;
  	color: #EACCCA;
  	text-shadow:
    	-1px -1px 0 #93707D,
    	1px -1px 0 #93707D,
    	-1px 1px 0 #93707D,
    	1px 1px 0 black; 

}

body {
  	background-image:url(http://68.media.tumblr.com/ade55ca48c9fa11bbb79e37ddbc61ff7/tumblr_inline_mkjl95d18Z1qz4rgp.png); 
  	margin: 23px 50px 100px 50px;
}

.summary {
  	padding: 18px;
  	margin: 23px 0px 130px 0px;
  	height: 53px;
    text-align:center;
    color: #FBE1D3;
    text-shadow:
    -1px -1px 0 #93707D,
    1px -1px 0 #93707D,
    -1px 1px 0 #93707D,
    1px 1px 0 #93707D;
    font-size: 25px;
	font-family: 'Oleo Script Swash Caps', cursive;
    	
}

a:link {
    color: #FFAAA5;
}

a:visited {
    color: #4F91C3;
}

a:hover {
    color: hotpink;
}

a:active {
    color: pink;
}

